Source: bitwise
Section: science
Priority: optional
Maintainer: Ramon Fried <rfried.dev@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev, libncurses5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/mellowcandle/bitwise

Package: bitwise
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncurses5
Description: Interactive bitwise operation in ncurses
 Bitwise is multi base interactive calculator supporting dynamic base
 conversion and bit manipulation. It's a handy tool for low level hackers,
 kernel developers and device drivers developers.
 .
 Some of the features include:
 .
 Interactive ncurses interface
 Command line interface that supports base conversion.
 Individual bit manipulator.
 Bitwise operations such as NOT, OR, AND, XOR, and shifts.
