name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    env:
      LDFLAGS: "-L/usr/local/opt/readline/lib"
      CPPFLAGS: "-I/usr/local/opt/readline/include"

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install lib-cunit
      run: brew install readline cunit autoconf automake
    - name: Bootstrap
      run: ./bootstrap.sh
    - name: configure
      run: ./configure
    - name: make check
      run: make check

